#app {

  .personalcollapse {

    .header {
      padding: 10px;
      padding-left: 0px;
    }

    .header:hover {
      background: $menuHover;

      .buttons{
        cursor: pointer;
      }
    }

    .title {
      padding: 0;
      margin: 0;
      font-size: 1em;
      width: 100%;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 10px;
    }

    .options {
      padding: 0;
      margin: 0;
      font-size: 0.9em;
      width: 100%;
      text-align: right;
      margin-right: 15px;

      i {
        margin-left: 10px;
      }
    }
  }

}
